@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merienda One');

html{
background: #fb9d23;
background: -moz-linear-gradient(top,#fb9d23 0%, #ffc578 100%); 
background: -webkit-linear-gradient(top,#fb9d23 0%,#ffc578 100%); 
background: linear-gradient(to bottom,#fb9d23 0%,#ffc578 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9d23', endColorstr='#ffc578',GradientType=0 );
font-size: 62.5%;
font-family: 'Raleway', sans-serif;
color: color: #48504e;
}

.darkred { color: #840a10; }
.grey { color: #48504e; }
.lightgrey { color: #d4d4d3; }

body {
font-size: 1.7rem;
}

/*Headers*/

h1,h2,h3{
font-family: 'Merienda One', cursive;
}

h1 {
font-size: 4.8rem;
color: #840a10;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
margin-top: -7.0rem;
margin-bottom: 7rem;
text-align: center;
}

h2{
font-size: 3.8rem;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
text-align: center;
padding-top: 4rem; 
padding-bottom: 4rem;
clear: both;
}

h3{
font-size: 2.6rem;
color:darkmagenta;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
padding-top: 1rem;
clear: both;
}

/*Logo*/

#logo {
text-align: center;
}

/*Navi*/

#wrapper {
max-width:100%;  
margin: 0 auto;
}

nav {
display: flex;
justify-content: center;
flex-wrap: nowrap;

}
#menu ul {
list-style-type: none;
}
#menu li {
float: left;
}


.pozmen {
display: block;
min-width:15rem;
padding:1.8rem;
margin:0rem 0.5rem 5rem 0rem; 
background-color:darkslategrey;
color:#fff;
font-size: 2.2rem;
text-decoration: none;
border-radius: 50px;
text-align: center;
}

.pozmen:hover{
color:darkslategrey;
background-color:antiquewhite;
font-weight: 800;
}



/*Section*/

section {
max-width: 76%;
margin: 0 auto;
}

/*Figure*/

figure{
margin: 0px;
}

/*Informacje*/

#informacje img{
width: 30%;
padding-left: 2rem;
padding-bottom: 5rem;
float: right;
}

#informacje li {
    list-style:square;
    list-style-position: outside;
    line-height: 2.2rem;
}

#informacje ul {
    margin-left: 2rem;
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-content: center;
}

.nagrody {
    padding-bottom: 5rem;
    text-align: center;
}


/*Tabela Wydarzenia*/

th, td {
    padding: 10px;
    text-align: center;
    
}

thead th {
    text-align:center;
    font-weight: 800;
}

tbody tr:nth-of-type(odd) {
    background-color: bisque;
}  

/* Kontakt*/

.text-cont {
max-width: 50%;
float:left;
padding:1rem;
}

.form-cont {
width:40%;
display: block;
padding:1rem;
float: right;
}

.container {
margin-top: 1rem; 
}

.form {
width:100%;
padding: 1rem;
}

.label {
font-weight: bold;    
}

.button {
font-size: 2rem;
padding: 1rem;
width: 10rem;
}

/*Footer*/

footer {
    text-align: center;
    height:10rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color:darkslategrey;
    color:beige;
    display: block;
    clear: both;
    
}
footer p {
        margin-bottom: 0;
        padding-bottom: 0;
    }  
    footer img {
        width: 5rem;
    }

/*RESPONSIVE 768*/
@media (max-width: 780px) {

    /*Logo 768*/

#logo img {
text-align: center;
width:70%;
    
}

/*Navi 768*/

#wrapper {
max-width: 100%;        
    }    
#menu {
margin:0;
width:100%;

}   
#menu li {
display: inline-block;
min-width: 49.5%;
}

    
.pozmen {
margin-bottom:0;
margin-right: 0rem;
margin-left: 0.5rem;
margin-bottom: 0.5rem;
    }    
/*Section 768*/

section {
max-width: 90%;
margin: 0 auto;
}

h1 {
font-size: 3.2rem;
margin-top: -7.0%;
margin-bottom: 7rem;
text-align: center;
}
    
#informacje img{
width: 100%;

padding-top: 2rem;
padding-bottom: 2rem;
} 


/*Formularz  768 */ 
.text-cont {
max-width: 100%;
}

.form-cont {
min-width:100%;
}

.form {
width:98%;
padding: 1rem;
font-size: 1.8rem;
}

    /*Stopka  768 */ 
footer {
    
}

 
    /* Tabela Wydarzenia 768*/
tr,td {
        display: block;
		width: 97%;
        padding: 1rem;
        text-align: left;
			}  

      thead {
		display: none;
	  	}
  
    	td[data-header-title]:before {
			content: attr(data-header-title)':';
            display: block;
            font-weight: 800;
            float:left;
            width:100px;
            //text-align: left;
      }
      tbody {
            border-collapse: collapse;
            display:block;
      }
      tbody tr {
            margin-bottom:2rem;
            border-bottom: 1rem solid #222222;
            display:block;
     }


/*RESPONSIVE 480*/
    @media (max-width: 480px) {
    
        /*Navi 468 */
        section {
        max-width: 96%;
        margin: 0 auto;
        }
        
        #menu li {
        float: none;
        min-width: 100%;
          }
          
        .pozmen {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
          }
        
        /* Tabela Wydarzenia 768*/
        tr,td {
		width: 92%;
			}  

      thead {
		display: none;
	  	}
  
    	td[data-header-title]:before {
            float:none;
           
      }
      tbody {
            border-collapse: collapse;
            display:block;
      }
      tbody tr {
            margin-bottom:2rem;
            border-bottom: 1rem solid #222222;
            display:block;
            
     }
        
        /*Formularz  480 */ 
        .text-cont {
        max-width: 100%;
        }

        .form-cont {
        min-width:96%;
        }

        .form {
        width:94%;
        padding: 1rem;
        font-size: 1.8rem;
        }
        
        
        #logo img {
        text-align: center;
        width:90%;   
        }     

        h1 {
        font-size: 150%;
        margin-top: -8.0%;
        margin-bottom: 2rem;
        text-align: center;
        }
        
      
        h2{
        font-size: 3.8rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        text-align: center;
        padding-top: 2rem; 
        padding-bottom: 2rem;
        }

          div.nagrody img {
            width:85%;

    }
    
        
    }